<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="Testcases.LognApplication">
				<methods>
					<exclude name="LoginTest"/>
				</methods>
			</class>
		</classes>
	</test>
	<test name="include">
		<classes>
			<class name="Functions.IncludeTest">
				<methods>
					<include name="includeTest"/>
					<include name="includeTest2"/>
					<include name="includeTest3"/>
					<include name="includeTest4"/>
					<exclude name= "exclude.*"/>
				</methods>
			</class>
		</classes>
	</test>
		
	
	
	<!-- Test -->
</suite> <!-- Suite -->
